
.vs/Main/v16/Browse.VC.opendb
.vs/Main/v16/.suo
.vs/Main/v16/Browse.VC.db
.vs/Main/v16/Browse.VC.db-shm
.vs/Main/v16/Browse.VC.db-wal
.vs/Main/v16/ipch/AutoPCH/b5cc41c4d1f23e13/MAIN.ipch
.vs/Main/v16/ipch/AutoPCH/e0197cae33628f6/RENDERINGPIPELINE.ipch
x64/Debug/Main.exe
x64/Debug/Main.exe.recipe
x64/Debug/Main.ilk
x64/Debug/Main.log
x64/Debug/Main.obj
x64/Debug/Main.pdb
x64/Debug/Main.res
x64/Debug/Main.tlog/CL.command.1.tlog
x64/Debug/Main.tlog/CL.read.1.tlog
x64/Debug/Main.tlog/CL.write.1.tlog
x64/Debug/Main.tlog/link.command.1.tlog
x64/Debug/Main.tlog/link.read.1.tlog
x64/Debug/Main.tlog/link.write.1.tlog
x64/Debug/Main.tlog/Main.lastbuildstate
x64/Debug/Main.tlog/rc.command.1.tlog
x64/Debug/Main.tlog/rc.read.1.tlog
x64/Debug/Main.tlog/rc.write.1.tlog
x64/Debug/Main.vcxproj.FileListAbsolute.txt
x64/Debug/MyMath.obj
x64/Debug/RenderingPipeline.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
.vs/Main/v16/ipch/AutoPCH/2765b2dec1e3882e/MYMATH.ipch
